<h1>Purchase Tickets</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Showtime</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @movie.title %></td>
    <td><%= @s.starttime.strftime("%I:%M%p") %></td>
    <td>
      <%= form_tag 'showtime/'+@s.id.to_s, :method => 'put' do %>
         <p>Tickets:<br />
         <%= text_field_tag "tickets" %></p>
         <%= submit_tag 'Purchase' %>
      <% end %>

    </td>
  </tr>
</table>
